<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-hijo1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `element-hijo1`
     * Primer hijo el cual conentra los 2 botones
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementHijo1 extends Polymer.Element {
      static get is() { return 'element-hijo1'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-hijo1'
          }
        };
      }
    }

    window.customElements.define(ElementHijo1.is, ElementHijo1);
  </script>
</dom-module>
