<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-hijo1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div id="contenidoBtn1">
      <h2>[[titulo]]!</h2>
      <h3>[[descripcion]]</h3>
      <button id="btn1">[[btn1Txt]]</button>
      <button id="btn2">[[btn2Txt]]</button>
    </div>

  </template>

  <script>
    /**
     * `element-hijo1`
     * Primer hijo el cual conentra los 2 botones
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementHijo1 extends Polymer.Element {
      static get is() { return 'element-hijo1'; }
      static get properties() {
        return {
          titulo: {
            type: String,
            value: 'Soy el element-hijo1 del examen de Polymer'
          },
          descripcion:{
            type: String,
            value: 'Este componente se ocultara y mostrara datos de la siguiente manera: '+
            'Si presionas el "Boton 1", se mostrara una lista. '+
            'Si presionas el "Boton 2", se mostrara una tabla.'
          },
          btn1Txt: {
            type: String,
            value: 'Boton 1'
          },
          btn2Txt: {
            type: String,
            value: 'Boton 2'
          }
        };
      }
    }

    window.customElements.define(ElementHijo1.is, ElementHijo1);
  </script>
</dom-module>
